#mainpageProduct.modal.fade(tabindex="-1", aria-labelledby="mainpageProductLabel", aria-hidden="true")
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl
    .modal-content.rounded-0
      .modal-header
        #res.w-100
        

      a.miniCartModal.btn.btn-primary(type="button", data-bs-dismiss="modal", aria-label="Close") Sepete Ekle