extends base

block content

  .container.text-center.my-3(style="max-width:1000px")
    h2.font-weight-light Bootstrap Multi Slide Carousel
    .row.mx-auto.my-auto.justify-content-center
      #recipeCarousel.carousel.slide(data-bs-ride="carousel")
        .carousel-inner
          each product in products
            .carousel-item
              .col-md-6
                .card
                  .card-img
                    img.img-fluid(src="//via.placeholder.com/500x400/31f?text=1")
                  .card-img-overlay=product.name
  
    a.carousel-control-prev.w-aut.bg-dark(href="#recipeCarousel", role="button", data-bs-slide="prev")
      span.carousel-control-prev-icon.bg-dark(aria-hidden="true")
    a.carousel-control-next.w-aut.bg-dark(href="#recipeCarousel", role="button", data-bs-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
