extends base

block content
  .container.position-relative.mt-5(style="width:1200px")
    .bg-dark.text-white.text-center.pt-4.position-absolute.start-50.translate-middle-x(style="height:20rem; width:65%;")
      h1 Theferruat
    .row.justify-content-center.position-absolute.start-0.mt-5(style="top:6vh")
      .col-lg-3
        .card.text-center.rounded-0.mb-5.mb-md-0
          img.card-img-top.py-4(src="https://www.theibrik.com/images/coffee_beans.svg", alt="...", height="150")
          .card-body(style="min-height: 15rem")
            h5.card-title NİTELİKLİ KAHVE İYİ EKİPMAN
            p.card-text.pt-2
              | Doğru kahvede doğru demlemenin önemini biz de sizin kadar iyi biliyoruz. Ekipmanlarımız sayesinde doğru demleyi mümkün kılıyoruz.
            // <span></span>
      .col-lg-3
        .card.text-center.rounded-0
          img.card-img-top.py-4(src="https://www.theibrik.com/images/motorbike.svg", alt="...", height="150")
          .card-body(style="min-height: 15rem")
            h5.card-title DOĞRU EKİPMAN KAPINIZA TESLİM
            p.card-text.pt-2
              | Ekipmanlarimizi sizlerle kargo masrafı olmadan kapınızda buluşturuyoruz.
      .col-lg-3
        .card.text-center.rounded-0
          img.card-img-top.py-4(src="https://www.theibrik.com/images/world.svg", alt="...", height="150")
          .card-body(style="min-height: 15rem")
            h5.card-title DÜNYA MARKALARI ile AYNI KALİTE
            p.card-text.pt-2
              | Ekipmanlarimiz kalitede odun vermezken fiyatta avantaj sağlamaktadırlar.
    .bg-dark.text-white.text-center.pt-4.position-absolute.start-50.translate-middle-x(style="height:20rem; width:65%; top:65vh;")
      h1 Ürünlerimiz
    include carousel
    .bg-dark.text-white.text-center.pt-4.position-absolute.start-50.translate-middle-x(style="height:20rem; width:65%; top:165vh;")
      h1 Ürünlerimiz
    .row.justify-content-center.position-absolute.start-0(style="top:176vh")
      .col-sm-3
        .card.text-center.rounded-0.mb-5.mb-md-0
          img.card-img-top.py-4(src="https://www.theibrik.com/images/coffee_beans.svg", alt="...", height="150")
          .card-body(style="min-height: 15rem")
            h5.card-title NİTELİKLİ KAHVE İYİ EKİPMAN
            p.card-text.pt-2
              | Doğru kahvede doğru demlemenin önemini biz de sizin kadar iyi biliyoruz. Ekipmanlarımız sayesinde doğru demleyi mümkün kılıyoruz.
      .col-sm-3
        .card.text-center.rounded-0
          img.card-img-top.py-4(src="https://www.theibrik.com/images/motorbike.svg", alt="...", height="150")
          .card-body(style="min-height: 15rem")
            h5.card-title DOĞRU EKİPMAN KAPINIZA TESLİM
            p.card-text.pt-2
              | Ekipmanlarimizi sizlerle kargo masrafı olmadan kapınızda buluşturuyoruz.
      .col-sm-3
        .card.text-center.rounded-0.mb-5.mb-md-0
          img.card-img-top.py-4(src="https://www.theibrik.com/images/coffee_beans.svg", alt="...", height="150")
          .card-body(style="min-height: 15rem")
            h5.card-title NİTELİKLİ KAHVE İYİ EKİPMAN
            p.card-text.pt-2
              | Doğru kahvede doğru demlemenin önemini biz de sizin kadar iyi biliyoruz. Ekipmanlarımız sayesinde doğru demleyi mümkün kılıyoruz.
            // <span></span>
      .col-sm-3
        .card.text-center.rounded-0
          img.card-img-top.py-4(src="https://www.theibrik.com/images/motorbike.svg", alt="...", height="150")
          .card-body(style="min-height: 15rem")
            h5.card-title DOĞRU EKİPMAN KAPINIZA TESLİM
            p.card-text.pt-2
              | Ekipmanlarimizi sizlerle kargo masrafı olmadan kapınızda buluşturuyoruz.
