extends base

block content
  .container
    #carouselExampleControls.carousel.slide(data-bs-ride="carousel")
      .carousel-inner.d-flex
        .carousel-item.active
          .row
            .card.col-md-6
              .text-end
                img.w-50(src="https://www.theferruat.com/upload/products/thumbnail/1712377899785976.png", alt="...")
            .card.col.md-6
              .text-end
                img.w-50(src="https://www.theferruat.com/upload/products/thumbnail/1712378462973738.png", alt="...")
        .carousel-item
          .row
            .card.col-md-6
              .text-end
                img.w-50(src="https://www.theferruat.com/upload/products/thumbnail/1712377869771585.png", alt="...")
    .row
      .col-md-6.h-25          
        button.carousel-control-prev(type="button", data-bs-target="#carouselExampleControls", data-bs-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="false")
          span.visually-hidden Previous
      .col-md-6.h-25
        button.carousel-control-next(type="button", data-bs-target="#carouselExampleControls", data-bs-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.visually-hidden Next
