h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: rgb(70, 70, 70);
}
h3 {
  font-size: 1.3rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  color: rgb(90, 90, 90);
  letter-spacing: 1px;
}
p {
  font-size: 1rem;
  font-family: 'Mulish', sans-serif;
  color: rgb(110, 110, 110);
  letter-spacing: 1px;
  font-weight: 400;
}
.btn {
  box-shadow: none !important;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn-primary {
  background-color: #eb965e;
  border: none;
  border-radius: 0;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #e97e39 !important;
}
.rounded-circle {
  height: 4rem;
  width: 4rem;
  padding: 0;
  line-height: 3.75rem;
  margin: auto;
}
@media (max-width: 991px) {
  nav ul li.border-end {
    border: 0px solid !important;
  }
}
.dropdown-menu {
  background-color: black;
}
.dropdown-menu a {
  color: white;
}
.dropdown-menu[data-bs-popper] {
  margin: 0 !important;
}
input {
  border-radius: 0 !important;
}

body {
  background-color: #f7f7f0;
}
.alert {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-radius: 0px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

/* // Modals */
.modal.modal-right .modal-dialog {
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* Left & Right */

.modal.modal-right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  max-width: 100%;
  height: 100%;
}

.modal.modal-right .modal-content {
  max-height: 100%;
  overflow-y: auto;
}

.modal.modal-right .modal-body {
  padding: 15px 15px 80px;
}

.modal.modal-right.fade .modal-dialog {
  right: -500px;
  top: 4rem !important;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.modal-right.fade.show .modal-dialog {
  right: 0;
}

.modal.modal-right .modal-content {
  border-radius: 0;
  border: none;
}

.modal.modal-right .modal-dialog.modal-sm {
  width: 300px;
}

.modal.modal-right .modal-dialog.modal-lg {
  width: 800px;
}

.modal.modal-right .modal-dialog.modal-xl {
  width: 1140px;
}

/* Top and Bottom

.modal.modal-top .modal-dialog,
.modal.modal-bottom .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.modal.modal-top .modal-content,
.modal.modal-bottom .modal-content {
  height: auto;
  overflow-y: auto;
}

.modal.modal-top .modal-body,
.modal.modal-bottom .modal-body {
  padding: 15px 15px;
}

/* Top 

.modal.modal-top.fade .modal-dialog {
  top: -100%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.modal-top.fade.show .modal-dialog {
  top: 0;
}

/* Bottom 

.modal.modal-bottom.fade .modal-dialog {
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  transition: opacity 0.3s linear, bottom 0.3s ease-out;
}

.modal.modal-bottom.fade.show .modal-dialog {
  bottom: 0;
}

.modal.modal-bottom.fade .modal-dialog {
  bottom: -100%;
}

/* Full Screen 

.modal.modal-full .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.modal.modal-full .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.modal-full .close-modal {
  position: fixed;
  top: 0;
  right: 3rem;
}

/* Footer 

.modal-footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-radius: 0;
}
*/

/* XS */

.modal.modal-right.xs .modal-body {
  padding: 15px;
}

/* Full screen modal menu indicators */

a.has-sub:after {
  font-family: 'FontAwesome';
}
a.has-sub:after {
  content: '\f107';
  margin-left: 1rem;
}
a.has-sub[aria-expanded='true']:after {
  content: '\f106';
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
.carousel-control-next,
.carousel-control-prev {
  top: 200%;
  height: 3rem;
}
.carousel-control-next {
  right: 25%;
}
.carousel-control-prev {
  left: 25%;
}
span.carousel-control-next-icon {
  background-image: url(/img/svg/right-arrow.svg);
}

span.carousel-control-prev-icon {
  background-image: url(/img/svg/left-arrow.svg);
}
